# Car prices in Russia: DataSet analysis
## Introduction:
Lots of people have their own cars, and some of them are know a lot about the pricing of different types of cars. But the fact is that no one knows exactly what prices depend on. So, someppeople suppose that sports cars from very expensive brands such as Ferrari or Lamborghini cost the most, but alas we have models of not so luxurious cars such as Mercedes that cost more. BMW  fans may argue that prices depends only on horsepower and engine type. However, this logic falters when we take into account ancient cars, with only 20 hp, costing millions of dollars. Finally, prices are not hang on a singular factor. To move deeply into this complexity of connections between horsepower, mileage, and year, I intend to show correlations, graphs, and other patterns using tools like Pandas, Matplotlib, and Seaborn.

Before we get started, take a quick look at a transcript of each of the items of my dataset, which I have collected especially for you.
* 	Brand:
    * The brand refers to the mark of a car, such as Mercedes, BMW, Toyota, etc. It represents the manufacturer or company that produces the vehicle.
* 	Name:
    * The name corresponds to the specific model of car brand, such as RX 300, ML, etc.
* 	Body Type:
    * Provides information about the general shape and style of the vehicle, such as sedan, coupe, SUV, truck, etc.
* 	Color:
    * Indicates the visual appearance of the color of vehicle.
* 	Fuel Type:
    * Specifies the type of fuel the vehicle uses for its movement, such as gasoline, diesel, electric, hybrid, etc.
* 	Year:
    * Represents the manufacturing year of the vehicle.
* 	Mileage:
    * Refers to the total distance the vehicle has traveled, measured in kilometers.
* 	Transmission:
    * Describes the type of transmission system in the vehicle, such as automatic or manual.
* 	Power:
    * Indicates the amount of horse power the vehicle's engine produces.
* 	Price:
    * Shows the cost of the vehicle.
* 	Vehicle Configuration:
    * Describes the specific features of a particular vehicle.
* 	Engine Name:
    * It identifies the engine model.
* 	Engine Displacement:
    * Indicates the total volume of all the cylinders in the engine. It is usually measured in liters or cubic centimeters and provides information about the engine's size.
* 	Date:
    * Represents a specific point in time, often used in this context to indicate a relevant date related to the vehicle, such as the manufacturing date or an important event.
* 	Location:
    * In this context, location signifies the website where the car information is located.
* 	Link:
    * The link directs to the specific website or page containing information about the car.
*   Parse date
   * Parse Date is the time when the information about the car was entered into the dataset.

### For my project, I'll be use a range of libraries to analyse data and generate visualizations. Here are they:

In [19]:
%matplotlib inline
# link to the dataset https://www.kaggle.com/datasets/ekibee/car-sales-information/data

In [20]:
# !pip install numpy
# !pip install pandas
import pandas as pd
import numpy as np

At first, let me demonstrate the structure of my dataset:

In [21]:
df = pd.read_csv('all_regions.csv')
df

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,location,link,description,parse_date
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,NaN,240000.0,Механика,101.0,280000,NaN,NaN,NaN,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/volkswagen/golf/5001300...,101 л.с. люк не течёт. Документы в порядке. Со...,2023-05-02 01:00:00
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/oka/50378140.html,"Ваз Ока Год: 2003 Цвет: Баклажан, в ПТС так и ...",2023-05-02 20:00:00
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/toyota/funcargo/5037751...,ХОРОШЕЕ СОСТОЯНИЕ. замена комплекта грм и помп...,2023-05-02 20:00:00
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/granta/50382492.html,"Автомобиль в отличном техническом состоянии, н...",2023-05-02 23:00:00
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,NaN,NaN,Механика,83.0,1022900,NaN,NaN,NaN,2023-04-02 00:00:00,Яблоновский,https://yablonovskiy.drom.ru/lada/niva_legend/...,Модель: Нива Легенд Комплектация: LADA (ВАЗ) N...,2023-05-02 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294752,BMW,X1,Джип 5 дв.,Серый,Дизель,NaN,275000.0,АКПП,177.0,1000000,NaN,NaN,NaN,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/bmw/x1/51154874.html,Продам автомобиль BMW X1 2d в идеальном состоя...,2023-06-01 21:00:00
1294753,Лада,2105,Седан,Белый,Бензин,1985.0,300000.0,Механика,64.0,165000,1.3 MT5 21050,ВАЗ-2105,1.3 LTR,2023-06-01 00:00:00,Усть-Джегута,https://ust-dzheguta.drom.ru/lada/2105/5114990...,продаю автомобиль изо не надобности автомобиль...,2023-06-01 13:00:00
1294754,Toyota,Camry,Седан,Серый,Бензин,2020.0,32000.0,АКПП,202.0,3100000,2.5 AT SE,A25A-FKS,2.5 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/toyota/camry/5115596...,"Америнка,в отличном состоянии,любые проверки. ...",2023-06-01 20:00:00
1294755,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,298000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/lada/2121_4x4_niva/5...,"Нива в хорошем состоянии, без гнили, лонжероны...",2023-06-01 23:00:00
1294756,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,320000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/lada/2121_4x4_niva/5...,"Нива в хорошем состоянии, без гнили, лонжероны...",2023-06-01 21:00:00

In [22]:
df.describe()

                year         mileage         power         price
count  724644.000000   771799.000000  1.273353e+06  1.294757e+06
mean     2009.684535   154893.397115  1.415560e+02  1.444358e+06
std         9.367108   100738.336936  6.563943e+01  1.970257e+06
min      1936.000000     1000.000000  1.000000e+00  2.700000e+02
25%      2003.000000    82000.000000  9.800000e+01  4.250000e+05
50%      2011.000000   144000.000000  1.280000e+02  8.700000e+05
75%      2017.000000   211000.000000  1.630000e+02  1.765000e+06
max      2023.000000  1000000.000000  1.000000e+03  1.500000e+08

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294757 entries, 0 to 1294756
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   brand                 1294757 non-null  object
 1   name                  1294757 non-null  object
 2   bodyType              1294757 non-null  object
 3   color                 1257029 non-null  object
 4   fuelType              1289815 non-null  object
 5   year                  724644 non-null   float64
 6   mileage               771799 non-null   float64
 7   transmission          1289563 non-null  object
 8   power                 1273353 non-null  float64
 9   price                 1294757 non-null  int64
 10  vehicleConfiguration  724647 non-null   object
 11  engineName            720976 non-null   object
 12  engineDisplacement    717625 non-null   object
 13  date                  1294757 non-null  object
 14  location              1294757 non-null  object
 15  link                  1294757 non-null  object
 16  description           1254405 non-null  object
 17  parse_date            1294757 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 177.8+ MB

# Data cleanup and Transformation
## In this table, there are numerous missing values. Let me work with them
1) Initially, if the year information is absent, it would be great to compute the mean year for cars with the same name (model). However, if a vehicle's name uniquely identified, then finding its year becomes impossible, so I decided to drop this rows from my dataset.
2) Similarly, I will apply the same strategy to the power column. To execute this, I will construct a pivot table and introduce two new columns, that will display the average horsepower and year for each car name (model).
3) As for mileage, a NaN value implies a new vehicle with the mileage value of 0.
4) Non-numeric columns will have NaN entries replaced with 'information not given,' as these columns serve just additional details.
5) In the interest of making analysis more simple, I have dropped columns such as 'description,' 'link,' 'location,' and 'parse_date'.
6) Furthermore, I have standardized the column names to lowercase.
7) For "fuel type", "transmission", "name", "brand" and "price", I removed rows containing deleted NaN entries. This step is very important because attempting to replace NaN values in these columns is not possible due to lack of information.
8) I have also change NaN values in the 'color' column by "Белый," following the common practice on Auto.ru, where an absence of color denotes as a white vehicle.
9) Additionally, I have reset the indices and reform certain columns, including 'power,' 'year,' and 'mileage,' to integer format.

In [24]:
def int_mean(arg):
    try:
        return int(arg.mean())
    except ValueError:
        return np.nan


pivot_df = df.pivot_table(index='name', values=['year', 'power', 'price'], aggfunc=int_mean)
print(pivot_df)

             power     price    year
name
001            NaN   7431448  2021.0
009            NaN  11800000     NaN
05           254.0   4899000     NaN
09           385.0   7729482     NaN
1-Series     136.0   1119534  2009.0
...            ...       ...     ...
Х-рей        111.0    880878  2017.0
Х-рей Кросс  117.0   1248434  2019.0
Хантер       123.0    700439  2009.0
Чайка        172.0   6750000     NaN
Шанс          78.0    186460  2008.0

[2223 rows x 3 columns]

In [25]:
df = df.merge(pivot_df, on='name', how='left', suffixes=('', '_average'))

df.loc[df['year'].isna(), 'year'] = df.year_average
df.loc[df['power'].isna(), 'power'] = df.power_average
df.head()

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,...,engineName,engineDisplacement,date,location,link,description,parse_date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,...,NaN,NaN,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/volkswagen/golf/5001300...,101 л.с. люк не течёт. Документы в порядке. Со...,2023-05-02 01:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,...,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/oka/50378140.html,"Ваз Ока Год: 2003 Цвет: Баклажан, в ПТС так и ...",2023-05-02 20:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,...,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/toyota/funcargo/5037751...,ХОРОШЕЕ СОСТОЯНИЕ. замена комплекта грм и помп...,2023-05-02 20:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,...,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/granta/50382492.html,"Автомобиль в отличном техническом состоянии, н...",2023-05-02 23:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,NaN,Механика,83.0,1022900,...,NaN,NaN,2023-04-02 00:00:00,Яблоновский,https://yablonovskiy.drom.ru/lada/niva_legend/...,Модель: Нива Легенд Комплектация: LADA (ВАЗ) N...,2023-05-02 20:00:00,82.0,874968,2022.0

In [26]:
print(df.shape)
df.dropna(axis=0, inplace=True, how='any', subset=['year', 'power'])
print(df.shape)

(1294757, 21)
(1282314, 21)

In [27]:
NG= 'information not given'
df = df.fillna({'mileage': 0, 'bodyType': NG, 'vehicleConfiguration': NG, 'engineName': NG, 'engineDisplacement': NG, 'color': 'Белый'})
df.head()

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,...,engineName,engineDisplacement,date,location,link,description,parse_date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,...,information not given,information not given,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/volkswagen/golf/5001300...,101 л.с. люк не течёт. Документы в порядке. Со...,2023-05-02 01:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,...,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/oka/50378140.html,"Ваз Ока Год: 2003 Цвет: Баклажан, в ПТС так и ...",2023-05-02 20:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,...,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/toyota/funcargo/5037751...,ХОРОШЕЕ СОСТОЯНИЕ. замена комплекта грм и помп...,2023-05-02 20:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,...,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/granta/50382492.html,"Автомобиль в отличном техническом состоянии, н...",2023-05-02 23:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,0.0,Механика,83.0,1022900,...,information not given,information not given,2023-04-02 00:00:00,Яблоновский,https://yablonovskiy.drom.ru/lada/niva_legend/...,Модель: Нива Легенд Комплектация: LADA (ВАЗ) N...,2023-05-02 20:00:00,82.0,874968,2022.0

In [28]:
df = df.drop(['description', 'link', 'location', 'parse_date'], axis=1)
df.head()

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,information not given,information not given,information not given,2023-04-02 00:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,0.0,Механика,83.0,1022900,information not given,information not given,information not given,2023-04-02 00:00:00,82.0,874968,2022.0

In [29]:
df.columns = df.columns.str.lower()
df.tail()

,brand,name,bodytype,color,fueltype,year,mileage,transmission,power,price,vehicleconfiguration,enginename,enginedisplacement,date,power_average,price_average,year_average
1294752,BMW,X1,Джип 5 дв.,Серый,Дизель,2013.0,275000.0,АКПП,177.0,1000000,information not given,information not given,information not given,2023-06-01 00:00:00,169.0,1880223,2013.0
1294753,Лада,2105,Седан,Белый,Бензин,1985.0,300000.0,Механика,64.0,165000,1.3 MT5 21050,ВАЗ-2105,1.3 LTR,2023-06-01 00:00:00,71.0,93859,1991.0
1294754,Toyota,Camry,Седан,Серый,Бензин,2020.0,32000.0,АКПП,202.0,3100000,2.5 AT SE,A25A-FKS,2.5 LTR,2023-06-01 00:00:00,179.0,1834807,2009.0
1294755,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,298000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,80.0,404464,1998.0
1294756,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,320000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,80.0,404464,1998.0

In [30]:
df.dropna(axis=0, inplace=True, how='any', subset=['fueltype', 'transmission', 'name', 'brand', 'price'])
print(df.shape)

(1275110, 17)

In [31]:
df = df.reset_index(drop=True)
df.year = df.year.apply(int)
df.power = df.power.apply(int)
df.mileage = df.mileage.apply(int)
df.head()

,brand,name,bodytype,color,fueltype,year,mileage,transmission,power,price,vehicleconfiguration,enginename,enginedisplacement,date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005,240000,Механика,101,280000,information not given,information not given,information not given,2023-04-02 00:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996,37000,Механика,33,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002,295000,АКПП,87,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018,16000,Механика,106,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022,0,Механика,83,1022900,information not given,information not given,information not given,2023-04-02 00:00:00,82.0,874968,2022.0

In [32]:
df.to_csv('newcars.csv')
data = df

# Descriptive statistics
<b>I have opted to provide a description of 'year,' 'mileage,' 'power,' and 'price,' by showing their mean, minimum, maximum, median, and standard deviation values</b> because understanding these statistical measures is crucial for understanding the hole picture of my dataset. By analyzing the mean, I can identify the average values, while the minimum and maximum values presents the range and extremities of the data. The median helps to gauge the central tendency, and the standard deviation quantifies the dispersion of values around the mean. This comprehensive statistical overview is essential for making informed decisions, identifying trends, and denoting the usability of the dataset.

In [33]:
print(data.info())
print(f'Shape of the dataset: {data.shape[0]} rows by {data.shape[1]} columns')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1275110 entries, 0 to 1275109
Data columns (total 17 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   brand                 1275110 non-null  object
 1   name                  1275110 non-null  object
 2   bodytype              1275110 non-null  object
 3   color                 1275110 non-null  object
 4   fueltype              1275110 non-null  object
 5   year                  1275110 non-null  int64
 6   mileage               1275110 non-null  int64
 7   transmission          1275110 non-null  object
 8   power                 1275110 non-null  int64
 9   price                 1275110 non-null  int64
 10  vehicleconfiguration  1275110 non-null  object
 11  enginename            1275110 non-null  object
 12  enginedisplacement    1275110 non-null  object
 13  date                  1275110 non-null  object
 14  power_average         1275110 non-null  float64
 15  price_average         1275110 non-null  int64
 16  year_average          1275110 non-null  float64
dtypes: float64(2), int64(5), object(10)
memory usage: 165.4+ MB
None
Shape of the dataset: 1275110 rows by 17 columns

In [34]:
data[['year', 'mileage', 'power', 'price']].std()

year       8.630094e+00
mileage    1.087760e+05
power      6.546960e+01
price      1.955797e+06
dtype: float64

In [35]:
x = [['median', data['year'].median(), data['mileage'].median(), data['power'].median(), data['price'].median()],
     ['mean', data['year'].mean(), data['mileage'].mean(), data['power'].mean(), data['price'].mean()],
     ['max', data['year'].max(), data['mileage'].max(), data['power'].max(), data['price'].max()],
     ['min', data['year'].min(), data['mileage'].min(), data['power'].min(), data['price'].min()]]
pd.DataFrame(x, columns=['name', 'year', 'mileage', 'power', 'price'])

     name         year         mileage        power         price
0  median  2010.000000    57000.000000   128.000000  8.700000e+05
1    mean  2009.584212    92639.992628   141.604902  1.437479e+06
2     max  2023.000000  1000000.000000  1000.000000  1.500000e+08
3     min  1936.000000        0.000000     1.000000  2.700000e+02

In [36]:
lst = ['brand', 'power', 'price']
new = data[lst].groupby(by='brand').mean()
new.head()

                   power         price
brand
AITO          559.000000  5.900000e+06
Acura         260.548052  1.390738e+06
Alfa Romeo    181.469136  9.565954e+05
Aston Martin  492.714286  1.084350e+07
Audi          212.728119  2.399239e+06