# Car prices in Russia: DataSet analysis
## Introduction:
Lots of people have their own cars, and some of them are really knowledgeable about the pricing of different types of cars. But the fact is that no one knows exactly what prices depend on. So, someone dared to assume that sports cars from brands such as Ferrari or Lamborghini cost the most, but alas we have models of not so luxurious cars such as Mercedes that cost more. Devotees of BMW may argue that prices hinge on horsepower and engine type. However, this logic falters when we encounter ancient cars, with a humble 20 hp, fetching millions of dollars. Evidently, prices are not governed by a singular factor. To delve into this complexity and unearth additional connections between horsepower, mileage, and year, I intend to spotlight correlations, craft graphs, and identify intriguing patterns using tools like Pandas, Matplotlib, and Seaborn.

Before we get started, take a quick look at a transcript of each of the values, which I have collected especially for you.
* 	Brand:
    * The brand in this context refers to the make of a car, such as Mercedes, BMW, Toyota, etc. It represents the manufacturer or company that produces the vehicle.
* 	Name:
    * The name corresponds to the specific model designation of a car, such as RX 300, ML, Civic, etc. It distinguishes one model from another within a brand.
* 	Body Type:
    * Describes the structure or form of a vehicle, such as sedan, coupe, SUV, truck, etc. It provides information about the general shape and style of the vehicle.
* 	Color:
    * Indicates the visual appearance of the product, in this case, the color of the vehicle. It could be any shade or combination of colors that the vehicle is available in.
* 	Fuel Type:
    * Specifies the type of fuel the vehicle uses for its operation, such as gasoline, diesel, electric, hybrid, etc.
* 	Year:
    * Represents the manufacturing year of the vehicle. It provides information about the age of the product.
* 	Mileage:
    * Refers to the total distance the vehicle has traveled, usually measured in miles or kilometers. It is an important factor in assessing the condition and usage of the vehicle.
* 	Transmission:
    * Describes the type of transmission system in the vehicle, such as automatic or manual. It determines how the power generated by the engine is transmitted to the wheels.
* 	Power:
    * Indicates the amount of power the vehicle's engine produces, often measured in horsepower (HP) or kilowatts (kW).
* 	Price:
    * Specifies the cost of the vehicle. It is a crucial factor for buyers in making purchasing decisions.
* 	Vehicle Configuration:
    * Describes the specific setup or arrangement of a vehicle, including its features and specifications. It provides a detailed overview of the vehicle's build.
* 	Engine Name:
    * Refers to the specific name or designation of the vehicle's engine. It helps in identifying the engine model.
* 	Engine Displacement:
    * Indicates the total volume of all the cylinders in the engine. It is usually measured in liters or cubic centimeters and provides information about the engine's size.
* 	Date:
    * Represents a specific point in time, often used in this context to indicate a relevant date related to the vehicle, such as the manufacturing date or an important event.
* 	Location:
    * In this context, location signifies the website where the car information is located. It might be the platform or site where users can find details about the car, such as an online marketplace or dealership website.
* 	Link:
    * The link refers to a hyperlink or URL that directs to the specific website or page containing information about the car. It serves as a direct pathway for users to access details or potentially make inquiries about the car.
*   Parse date
   * Parse Date is the time when the information about the car was extracted and entered into the dataset. It provides insights into the currency of the data within the dataset, allowing users to gauge how up-to-date the information is.

### For my project, I'll be employing a range of libraries to handle data and generate visualizations. Here are they:

In [1]:
# !pip install numpy
# !pip install pandas
# !pip install seaborn
# !pip install matplotlib
# !pip install plotly
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

Initially, let me demonstrate the structure of my dataset:

In [2]:
df = pd.read_csv('all_regions.csv')
df

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,location,link,description,parse_date
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,NaN,240000.0,Механика,101.0,280000,NaN,NaN,NaN,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/volkswagen/golf/5001300...,101 л.с. люк не течёт. Документы в порядке. Со...,2023-05-02 01:00:00
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/oka/50378140.html,"Ваз Ока Год: 2003 Цвет: Баклажан, в ПТС так и ...",2023-05-02 20:00:00
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/toyota/funcargo/5037751...,ХОРОШЕЕ СОСТОЯНИЕ. замена комплекта грм и помп...,2023-05-02 20:00:00
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/granta/50382492.html,"Автомобиль в отличном техническом состоянии, н...",2023-05-02 23:00:00
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,NaN,NaN,Механика,83.0,1022900,NaN,NaN,NaN,2023-04-02 00:00:00,Яблоновский,https://yablonovskiy.drom.ru/lada/niva_legend/...,Модель: Нива Легенд Комплектация: LADA (ВАЗ) N...,2023-05-02 20:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294752,BMW,X1,Джип 5 дв.,Серый,Дизель,NaN,275000.0,АКПП,177.0,1000000,NaN,NaN,NaN,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/bmw/x1/51154874.html,Продам автомобиль BMW X1 2d в идеальном состоя...,2023-06-01 21:00:00
1294753,Лада,2105,Седан,Белый,Бензин,1985.0,300000.0,Механика,64.0,165000,1.3 MT5 21050,ВАЗ-2105,1.3 LTR,2023-06-01 00:00:00,Усть-Джегута,https://ust-dzheguta.drom.ru/lada/2105/5114990...,продаю автомобиль изо не надобности автомобиль...,2023-06-01 13:00:00
1294754,Toyota,Camry,Седан,Серый,Бензин,2020.0,32000.0,АКПП,202.0,3100000,2.5 AT SE,A25A-FKS,2.5 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/toyota/camry/5115596...,"Америнка,в отличном состоянии,любые проверки. ...",2023-06-01 20:00:00
1294755,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,298000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/lada/2121_4x4_niva/5...,"Нива в хорошем состоянии, без гнили, лонжероны...",2023-06-01 23:00:00
1294756,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,320000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/lada/2121_4x4_niva/5...,"Нива в хорошем состоянии, без гнили, лонжероны...",2023-06-01 21:00:00

In [3]:
df.describe()

                year         mileage         power         price
count  724644.000000   771799.000000  1.273353e+06  1.294757e+06
mean     2009.684535   154893.397115  1.415560e+02  1.444358e+06
std         9.367108   100738.336936  6.563943e+01  1.970257e+06
min      1936.000000     1000.000000  1.000000e+00  2.700000e+02
25%      2003.000000    82000.000000  9.800000e+01  4.250000e+05
50%      2011.000000   144000.000000  1.280000e+02  8.700000e+05
75%      2017.000000   211000.000000  1.630000e+02  1.765000e+06
max      2023.000000  1000000.000000  1.000000e+03  1.500000e+08

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1294757 entries, 0 to 1294756
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   brand                 1294757 non-null  object
 1   name                  1294757 non-null  object
 2   bodyType              1294757 non-null  object
 3   color                 1257029 non-null  object
 4   fuelType              1289815 non-null  object
 5   year                  724644 non-null   float64
 6   mileage               771799 non-null   float64
 7   transmission          1289563 non-null  object
 8   power                 1273353 non-null  float64
 9   price                 1294757 non-null  int64
 10  vehicleConfiguration  724647 non-null   object
 11  engineName            720976 non-null   object
 12  engineDisplacement    717625 non-null   object
 13  date                  1294757 non-null  object
 14  location              1294757 non-null  object
 15  link                  1294757 non-null  object
 16  description           1254405 non-null  object
 17  parse_date            1294757 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 177.8+ MB

# Data cleanup and Transformation
## In this table, there are numerous instances of missing values. Let me work with them
1) Initially, if the year information is absent, it would be prudent to compute the mean year for cars sharing the same name (model). However, if a vehicle is uniquely identified by its name, determining its year becomes unfeasible, prompting the exclusion of such entries from my dataset.
2) Similarly, I will apply a parallel strategy to the power variable. To execute this, I will construct a pivot table and introduce two supplementary columns. Leveraging the merge function, this columns will display the average horsepower and year for each car name (model), providing a comprehensive overview of these key variables.
3) Regarding mileage, a NaN value implies a new vehicle, warranting a default mileage value of 0.
4) Non-numeric columns will have NaN entries replaced with 'information not given,' as these columns serve to convey supplementary details.
5) In the interest of streamlined analysis, I have omitted columns such as 'description,' 'link,' 'location,' and 'parse_date'.
6) Furthermore, I have standardized the column names to lowercase.
7) Columns such as 'fueltype,' 'transmission,' 'name,' 'brand,' and 'price' have undergone a meticulous review, with certain rows featuring NaN entries removed. This step is essential, as attempting to replace NaN values in these columns risks distorting their inherent significance.
8) I have also imputed NaN values in the 'color' column with "Белый," following the common practice on Auto.ru, where an absence of color specification traditionally denotes a white vehicle.
9) Additionally, I have reset the indices and cast certain columns, including 'power,' 'year,' and 'mileage,' to integer format for enhanced precision.

In [5]:
def int_mean(arg):
    try:
        return int(arg.mean())
    except ValueError:
        return np.nan


pivot_df = df.pivot_table(index='name', values=['year', 'power', 'price'], aggfunc=int_mean)
print(pivot_df)

             power     price    year
name
001            NaN   7431448  2021.0
009            NaN  11800000     NaN
05           254.0   4899000     NaN
09           385.0   7729482     NaN
1-Series     136.0   1119534  2009.0
...            ...       ...     ...
Х-рей        111.0    880878  2017.0
Х-рей Кросс  117.0   1248434  2019.0
Хантер       123.0    700439  2009.0
Чайка        172.0   6750000     NaN
Шанс          78.0    186460  2008.0

[2223 rows x 3 columns]

In [6]:
df = df.merge(pivot_df, on='name', how='left', suffixes=('', '_average'))
df.head()
df.loc[df['year'].isna(), 'year'] = df.year_average
df.loc[df['power'].isna(), 'power'] = df.power_average
df

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,...,engineName,engineDisplacement,date,location,link,description,parse_date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,...,NaN,NaN,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/volkswagen/golf/5001300...,101 л.с. люк не течёт. Документы в порядке. Со...,2023-05-02 01:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,...,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/oka/50378140.html,"Ваз Ока Год: 2003 Цвет: Баклажан, в ПТС так и ...",2023-05-02 20:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,...,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/toyota/funcargo/5037751...,ХОРОШЕЕ СОСТОЯНИЕ. замена комплекта грм и помп...,2023-05-02 20:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,...,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/granta/50382492.html,"Автомобиль в отличном техническом состоянии, н...",2023-05-02 23:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,NaN,Механика,83.0,1022900,...,NaN,NaN,2023-04-02 00:00:00,Яблоновский,https://yablonovskiy.drom.ru/lada/niva_legend/...,Модель: Нива Легенд Комплектация: LADA (ВАЗ) N...,2023-05-02 20:00:00,82.0,874968,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294752,BMW,X1,Джип 5 дв.,Серый,Дизель,2013.0,275000.0,АКПП,177.0,1000000,...,NaN,NaN,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/bmw/x1/51154874.html,Продам автомобиль BMW X1 2d в идеальном состоя...,2023-06-01 21:00:00,169.0,1880223,2013.0
1294753,Лада,2105,Седан,Белый,Бензин,1985.0,300000.0,Механика,64.0,165000,...,ВАЗ-2105,1.3 LTR,2023-06-01 00:00:00,Усть-Джегута,https://ust-dzheguta.drom.ru/lada/2105/5114990...,продаю автомобиль изо не надобности автомобиль...,2023-06-01 13:00:00,71.0,93859,1991.0
1294754,Toyota,Camry,Седан,Серый,Бензин,2020.0,32000.0,АКПП,202.0,3100000,...,A25A-FKS,2.5 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/toyota/camry/5115596...,"Америнка,в отличном состоянии,любые проверки. ...",2023-06-01 20:00:00,179.0,1834807,2009.0
1294755,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,298000,...,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/lada/2121_4x4_niva/5...,"Нива в хорошем состоянии, без гнили, лонжероны...",2023-06-01 23:00:00,80.0,404464,1998.0
1294756,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,320000,...,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,Черкесск,https://cherkessk.drom.ru/lada/2121_4x4_niva/5...,"Нива в хорошем состоянии, без гнили, лонжероны...",2023-06-01 21:00:00,80.0,404464,1998.0

In [7]:
print(df.shape)
df.dropna(axis=0, inplace=True, how='any', subset=['year', 'power'])
print(df.shape)

(1294757, 21)
(1282314, 21)

In [8]:
NG= 'information not given'
df = df.fillna({'mileage': 0, 'bodyType': NG, 'vehicleConfiguration': NG, 'engineName': NG, 'engineDisplacement': NG, 'color': 'Белый'})
df.head()

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,...,engineName,engineDisplacement,date,location,link,description,parse_date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,...,information not given,information not given,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/volkswagen/golf/5001300...,101 л.с. люк не течёт. Документы в порядке. Со...,2023-05-02 01:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,...,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/oka/50378140.html,"Ваз Ока Год: 2003 Цвет: Баклажан, в ПТС так и ...",2023-05-02 20:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,...,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/toyota/funcargo/5037751...,ХОРОШЕЕ СОСТОЯНИЕ. замена комплекта грм и помп...,2023-05-02 20:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,...,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,Майкоп,https://maykop.drom.ru/lada/granta/50382492.html,"Автомобиль в отличном техническом состоянии, н...",2023-05-02 23:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,0.0,Механика,83.0,1022900,...,information not given,information not given,2023-04-02 00:00:00,Яблоновский,https://yablonovskiy.drom.ru/lada/niva_legend/...,Модель: Нива Легенд Комплектация: LADA (ВАЗ) N...,2023-05-02 20:00:00,82.0,874968,2022.0

In [9]:
df = df.drop(['description', 'link', 'location', 'parse_date'], axis=1)
df.head(100)

,brand,name,bodyType,color,fuelType,year,mileage,transmission,power,price,vehicleConfiguration,engineName,engineDisplacement,date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,information not given,information not given,information not given,2023-04-02 00:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,0.0,Механика,83.0,1022900,information not given,information not given,information not given,2023-04-02 00:00:00,82.0,874968,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Лада,Гранта,Лифтбек,Белый,Бензин,2018.0,0.0,Механика,90.0,989900,information not given,information not given,information not given,2023-04-06 00:00:00,90.0,687676,2018.0
97,Лада,Гранта,Седан,Белый,Бензин,2018.0,0.0,Механика,90.0,871900,information not given,information not given,information not given,2023-04-06 00:00:00,90.0,687676,2018.0
98,Лада,Гранта,Лифтбек,Черный,Бензин,2018.0,0.0,Механика,90.0,989900,information not given,information not given,information not given,2023-04-06 00:00:00,90.0,687676,2018.0
99,УАЗ,Патриот,Джип 5 дв.,Белый,Бензин,2015.0,56000.0,Механика,150.0,1110000,information not given,information not given,information not given,2023-04-06 00:00:00,139.0,1116561,2015.0
100,Лада,Гранта,Лифтбек,Белый,Бензин,2018.0,0.0,Механика,90.0,989900,information not given,information not given,information not given,2023-04-06 00:00:00,90.0,687676,2018.0

In [10]:
df.columns = df.columns.str.lower()
df

,brand,name,bodytype,color,fueltype,year,mileage,transmission,power,price,vehicleconfiguration,enginename,enginedisplacement,date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005.0,240000.0,Механика,101.0,280000,information not given,information not given,information not given,2023-04-02 00:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996.0,37000.0,Механика,33.0,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002.0,295000.0,АКПП,87.0,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018.0,16000.0,Механика,106.0,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022.0,0.0,Механика,83.0,1022900,information not given,information not given,information not given,2023-04-02 00:00:00,82.0,874968,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1294752,BMW,X1,Джип 5 дв.,Серый,Дизель,2013.0,275000.0,АКПП,177.0,1000000,information not given,information not given,information not given,2023-06-01 00:00:00,169.0,1880223,2013.0
1294753,Лада,2105,Седан,Белый,Бензин,1985.0,300000.0,Механика,64.0,165000,1.3 MT5 21050,ВАЗ-2105,1.3 LTR,2023-06-01 00:00:00,71.0,93859,1991.0
1294754,Toyota,Camry,Седан,Серый,Бензин,2020.0,32000.0,АКПП,202.0,3100000,2.5 AT SE,A25A-FKS,2.5 LTR,2023-06-01 00:00:00,179.0,1834807,2009.0
1294755,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,298000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,80.0,404464,1998.0
1294756,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995.0,354000.0,Механика,79.0,320000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,80.0,404464,1998.0

In [11]:
df.dropna(axis=0, inplace=True, how='any', subset=['fueltype', 'transmission', 'name', 'brand', 'price'])
print(df.shape)

(1275110, 17)

In [12]:
df = df.reset_index(drop=True)
df.year = df.year.apply(int)
df.power = df.power.apply(int)
df.mileage = df.mileage.apply(int)
df

,brand,name,bodytype,color,fueltype,year,mileage,transmission,power,price,vehicleconfiguration,enginename,enginedisplacement,date,power_average,price_average,year_average
0,Volkswagen,Golf,Хэтчбек 5 дв.,Серебристый,Бензин,2005,240000,Механика,101,280000,information not given,information not given,information not given,2023-04-02 00:00:00,112.0,784790,2005.0
1,Лада,1111 Ока,Хэтчбек 3 дв.,Фиолетовый,Бензин,1996,37000,Механика,33,95000,0.6 MT 11113,ВАЗ-11113,0.7 LTR,2023-04-02 00:00:00,33.0,86463,1995.0
2,Toyota,Funcargo,Хэтчбек 5 дв.,Серебристый,Бензин,2002,295000,АКПП,87,380000,1.3 J,2NZ-FE,1.3 LTR,2023-04-02 00:00:00,92.0,341564,2000.0
3,Лада,Гранта,Лифтбек,Серый,Бензин,2018,16000,Механика,106,795000,1.6 MT Comfort,ВАЗ-21127,1.6 LTR,2023-04-02 00:00:00,90.0,687676,2018.0
4,Лада,Нива Легенд,Джип 3 дв.,Зеленый,Бензин,2022,0,Механика,83,1022900,information not given,information not given,information not given,2023-04-02 00:00:00,82.0,874968,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275105,BMW,X1,Джип 5 дв.,Серый,Дизель,2013,275000,АКПП,177,1000000,information not given,information not given,information not given,2023-06-01 00:00:00,169.0,1880223,2013.0
1275106,Лада,2105,Седан,Белый,Бензин,1985,300000,Механика,64,165000,1.3 MT5 21050,ВАЗ-2105,1.3 LTR,2023-06-01 00:00:00,71.0,93859,1991.0
1275107,Toyota,Camry,Седан,Серый,Бензин,2020,32000,АКПП,202,3100000,2.5 AT SE,A25A-FKS,2.5 LTR,2023-06-01 00:00:00,179.0,1834807,2009.0
1275108,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995,354000,Механика,79,298000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,80.0,404464,1998.0
1275109,Лада,4x4 2121 Нива,Джип 3 дв.,Белый,Бензин,1995,354000,Механика,79,320000,1.7 MT,ВАЗ-21213,1.7 LTR,2023-06-01 00:00:00,80.0,404464,1998.0

In [13]:

df.to_csv('newcars.csv')